<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>博客添加 </title>

<script charset="utf-8" src="{ly:$smarty.const._ROOT_}/Blog/Admin/Org/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="{ly:$smarty.const._ROOT_}/Blog/Admin/Org/kindeditor/lang/zh_CN.js"></script>
<script>
    KindEditor.ready(function(K) {
            window.editor = K.create('#editor_id');
    });
</script>
<style type="text/css">
table{
	
    background: #999;
}
tr,td,th{
	border:1px solid #ccc;
}
</style>
</head>

<body class="ContentBody">
 <form action="" method='post' enctype='multipart/form-data'>
    		<table  width='100%' cellpadding="0" cellspacing="0">
    			<tr ><th width="100%" colspan="2" bgcolor="#6795B4">添加博客</th></tr>
    			<tr>
    				<th>标题</th>
    				<td height="30">
    					<input type="title" name='title' >
    				</td>
    			</tr>
    			<tr>
    				<th>栏目</th>
    				<td height="30">
    					<select name="cid" id="">
    						{ly:section loop=$categoryData name=c}
    						<option value="{ly:$categoryData[c].cid}">{ly:$categoryData[c].catname}</option>
    						{ly:/section}
    					</select>
    				</td>
    			</tr>
    			<tr>
    				<th>缩略图</th>
    				<td height="30">
    					<input type="file" name='thumb'>
    				</td>
    			</tr>
    			<tr>
    				<th>正文</th>
    				<td>
    					<textarea id="editor_id" name="content" style="width:99%;height:300px;"></textarea>
    				</td>
    			</tr>
    			<tr>
    				<th>点击数</th>
    				<td>
    					<input type="title" name='click' value='100'>
    				</td>
    			</tr>
    			<tr>
    				<td colspan='2'>
    					<input type="submit" value="发表">
    				</td>
    			</tr>
    		</table>
    	</form>
</body>
</html>
