<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>Document</title>
<style type='text/css'>
        div.info{
            border:solid 2px black;
            font-size:20px;
            padding:20px;
        }
        </style>
</head>
<body>
	<div class='info'>
            {ly:$msg}
            {ly:if $url}
                <script>setTimeout(function(){location.href='{ly:$url}'},2000)</script>
            {ly:else}
            <script>setTimeout(function(){window.history.go(-1);},2000)</script>
            {ly:/if}
        </div>
</body>
</html>